:host {
    color: white;
}

/* Positions the container holding the layer buttons. */
.layer-button-container {
    position: absolute;
    left: 77%;
    top: 2%;
    margin: 0;
    padding: 0;
    width: 20%;
}

/* Wrapper forces the boxes to maintain a 1 to 1 aspect ratio */
.layer-button-wrapper{
    position: relative;
    width: 30%;
    padding-top: 30%;
    height: 0;
    margin: 0 0 14% 0;
    display: inline-block;
}

/* Layer buttons are max of 3 per row and overflows are hidden */
.layer-button-container > .layer-button-wrapper > .layer-button {
   width: 100%;
   height: 100%;
   position: absolute;
}

/* Positions the Slide Bar */
.slider-container {
    height: 10%;
    top: 85%;
    position: absolute;
    width: 15%;
    left: 42.5%;
}