<!-- This is the main component for the touch UI interface. -->

<!-- This section contains the charts-->
<div class="left-container">
  <div class="chart">
    <app-border-line leftColor="blue" rightColor="red" dotColor="green" dotSize="medium" longSide="right">
    </app-border-line>
    <div class="section-title">{{chartTitle}}</div>
    <!-- <app-progress-ring></app-progress-ring> -->
  </div>
  <div class="chart">
    <app-border-line leftColor="blue" rightColor="orange" dotColor="green" dotSize="medium" longSide="left">
    </app-border-line>
    <div class="section-title">{{chartTitle}}</div>
  </div>
</div>

<!-- Center column.  Largest column, contains mini map and the year controls -->
<div class="center-container">
  <div class="top">
    <app-border-line leftColor="blue" rightColor="red" dotColor="green" dotSize="medium" longSide="left">
    </app-border-line>
    <div class="left">
      <div class="section-title">{{mapTitle}}</div>
    </div>
    <div class="right">
      <div class="section-title">{{scenarioTitle}}</div>
      <div *ngFor="let scenario of scenarios">
        <app-scenario-button scenarioName={{scenario.name}} scenarioDisplayName={{scenario.displayName}}>
        </app-scenario-button>
      </div>
    </div>
  </div>
  <div class="middle">
    <app-border-line leftColor="blue" rightColor="red" dotColor="green" dotSize="medium" longSide="left">
    </app-border-line>
    <div class="section-title">{{yearTitle}}</div>
    <!-- Graphic that shows the year -->
    <app-year class="year-container" #year></app-year>
  </div>
  <div class="bottom">
    <!-- Slider control to change the year -->
    <app-slider type="year" class="slider-container"></app-slider>
  </div>
</div>
<!-- right column has two rows. -->
<div class="right-container">
  <div class="top">
    <!-- Layer Buttons for turning on and off the layers. -->
    <div class="layer-button-container" #layerButtonContainer>
      <app-border-line leftColor="blue" rightColor="red" dotColor="green" dotSize="medium" longSide="left">
      </app-border-line>
      <div class="section-title">{{layerTitle}}</div>
      <!-- Wrapper forces the buttons to be 1 to 1 ratio -->
      <div class="buttons-container">
        <div class="layer-button-wrapper" *ngFor="let layer of layers">
          <app-layer-button class="layer-button" layerName={{layer.name}} layerDisplayName={{layer.displayName}}
            layerIcon={{layer.iconPath}}></app-layer-button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <app-border-line leftColor="yellow" rightColor="pink" dotColor="green" dotSize="medium" longSide="right">
    </app-border-line>
    <div class="section-title">{{layerInfoTitle}}</div>
  </div>
</div>