<div *ngIf="loading; else elseBlock">
  <app-loading></app-loading>
</div>
<ng-template #elseBlock>
  <app-bouncing-title></app-bouncing-title>
  <app-tracking-test [style.display]="testTrack ? 'block' : 'none'"></app-tracking-test>
  <app-calibration [style.display]="calibrating ? 'block' : 'none'"></app-calibration>
  <app-landing-buttons-container class="landing-buttons-container"></app-landing-buttons-container>
  <app-map-selector class="map-selector-container" [style.left]="activePanel == 'maps' ? '25%' : '100%'" id="map-selector-container"
  name="map-selector-container" appMapSelectionDirective></app-map-selector>
  <app-cam-boxes class="cam-box-container" [style.display]="displayLandmarks ? 'block' : 'none'"></app-cam-boxes>
  <app-camera-selector class="camera-selector-container" [style.left]="activePanel == 'cams' ? '25%' : '100%'"
  id="camera-selector-container" name="camera-selector-container" appMapSelectionDirective>></app-camera-selector>
  <app-marker-selection class="marker-selector-container" [style.left]="activePanel == 'markers' ? '25%' : '100%'"
  id="marker-selector-container" name="marker-selector-container" appMapSelectionDirective></app-marker-selection>
  <app-help class="help-selector-container" [style.left]="activePanel == 'help' ? '25%' : '100%'"
  id="help-selector-container" name="help-selector-container"></app-help>
</ng-template>