<div *ngIf="loading; else elseBlock">
  <app-loading></app-loading>
</div>
<ng-template #elseBlock>
  <!-- Bouncing text title -->
  <app-bouncing-title></app-bouncing-title>
  <!-- Test Tracking Component -->
  <app-tracking-test
  [style.display]="routeArray.testTracking.visible ? 'block' : 'none'"
   #testTracking></app-tracking-test>
  <!-- Calibrating component-->
  <app-calibration 
  [style.display]="routeArray.calibrating.visible ? 'block' : 'none'"
  #calibrating></app-calibration>
  <!-- Buttons for landing page -->
  <app-landing-buttons-container 
    class="landing-buttons-container" 
    #buttons></app-landing-buttons-container>
  <!-- Map Selector container-->
  <app-map-selector 
    class="selector-container" 
    [style.display]="routeArray.maps.visible ? 'block' : 'none'"
    #mapSelector></app-map-selector>
  <!-- Camera Selector Container -->
  <app-camera-selector 
  [style.display]="routeArray.cams.visible ? 'block' : 'none'"
  class="selector-container"
   #cams></app-camera-selector>
  <!-- Marker Selection Container -->
  <app-marker-selection 
  class="selector-container" 
  [style.display]="routeArray.markers.visible ? 'block' : 'none'"
  #markerSelector></app-marker-selection>
  <!-- Help Menu -->
  <app-help 
  [style.display]="routeArray.help.visible ? 'block' : 'none'"
  class="selector-container" #help></app-help>
</ng-template>