@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

/* Wrapper for the map selection boxes */
.map-selector-container {
  width: 70%;
  position: absolute;
  text-align: center;
  left: 25%;
  height: 70%;
  top: 15%;
  font-family: 'Roboto-Regular',Arial, sans-serif;
  transition: left 0.4s ease-out;
}


    /* Styles for the buttons on the left side of the landing page */
.landing-buttons-container {
  position: absolute;
  width: 22%;
  left: 5%;
  top: 17%;
  text-align: center;
}


/* Styles for the marker selection */
.marker-selector-container {
  width: 70%;
  position: absolute;
  left: 100%;
  top: 15%;
  transition: left 0.4s ease-out;
  text-align: center;
  padding: 10px;
}


.calibration-overlay {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 24vw;
  height: 100vh;
  background-color:black;
}


.tracking-point {
  width: calc(14% - 8px);
  text-align: center;
  display: inline-block;
  animation:spin 20s linear infinite;
}

.tracking-point img {
  width: 100%;
  height: 100%;
  border: 10px solid white;
}

.cam-box-container {
  width: 24vw;
  height: 100%;
  z-index: 200;
  position: absolute;
  background-color: white;
}

.cam-box {
  background-color: green;
  border: 10px solid black;
  width: 50px;
  height: 50px;
  position: absolute;
}

#cam-box-1 {
  left: 0;
  top: 40vh;
}

#cam-box-2 {
  left: 0;
  bottom: 0;
}

#cam-box-3 {
  left: calc(22vw - 50px);
  bottom: 0;
}

#cam-box-4 {
  left: calc(22vw - 50px);
  top: 40vh;
}
/* Styles for the camera selection */
.camera-selector-container {
  width: 70%;
  height: 60%;
  position: absolute;
  left: 100%;
  top: 12%;
  transition: left 0.4s ease-out;
}

/* Styles for the help section */
.help-selector-container {
  width: 60%;
  height: 80%;
  position: absolute;
  left: 100%;
  top: 19%;
  transition: left 0.4s ease-out;
  background-color: rgba(130,145,188, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px 0 0 5px;
}