/* Contains styles for the left side of the main map display */

.interaction-container {
  width: 22vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Contains styles for the right side of the main map display */

.map-container {
  width: 78vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: inline-block;
  position: absolute;
  left: 22vw;
  text-align: center;
  top: 0;
}

.legend-container {
  width: 25%;
  height: 18vh;
  left: 24%;
  top: 2%;
  position: absolute;
}
