html {
  background-color: black;
}

/* Contains styles for the left side of the main map display */

.interaction-container {
  width: 24.5vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Contains styles for the right side of the main map display */

.map-container {
  width: 75.5vw;
  height: 100vh;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  text-align: center;
}

/* Legends for each map.  Each is placed in a different location */

.legend-container {
  width: 22%;
  height: 18vh;
  position: absolute;
}

/* Each title is placed in a different section based on the map.  Each
  map is a different size.
*/

.title-container {
  color: white;
  position: absolute;
  text-align: center;
}

.title-container-maui {
  color: white;
  left: 49vw;
  top: 18vh;
  position: absolute;
  text-align: center;
}

/* Holds the chart data.  Positioned for each island*/

.line-chart {
  width: 325px;
  height: 325px;
  position: absolute;
  color: white;
}

.pie-chart {
  width: 250px;
  height: 250px;
  position: absolute;
  color: white;
}

/* Holds the scenario data.  Positioned for each island*/

.scenario-container {
  width: 100px;
  height: 20px;
  position: absolute;
  color: white;
}
