/* Contains styles for the left side of the main map display */

.interaction-container {
  width: 24.5vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Contains styles for the right side of the main map display */

.map-container {
  width: 75.5vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  display: inline-block;
  position: absolute;
  left: 24.5vw;
  text-align: center;
  top: 0;
}

.legend-container-oahu {
  width: 25%;
  height: 18vh;
  left: 27%;
  top: 2%;
  position: absolute;
}

.legend-container-maui {
  width: 25%;
  height: 18vh;
  left: 46%;
  top: 2%;
  position: absolute;
}

.legend-container-bigisland {
  width: 21%;
  height: 18vh;
  left: 26%;
  top: 2%;
  position: absolute;
}

.title-container-oahu {
  color: white;
  left: 90vw;
  top: 64vh;
  position: absolute;
  text-align: center;
}

.title-container-maui {
  color: white;
  left: 90vw;
  top: 79vh;
  position: absolute;
  text-align: center;
}

.title-container-bigisland {
  color: white;
  left: 61vw;
  top: 78vh;
  position: absolute;
  text-align: center;
}
