<div class="slide-icon-container" #slideIconContainer_2>
  <div class="slide-icon" [style.borderColor]="icon.color" *ngFor="let icon of iconImages">
    <img src="{{icon.icon}}">
  </div>
</div>
<div class="layer-puck-container" #layerPuckContainer_2>
  <div class="icon-container" #iconContainer_2>
    <div class="circle-icon" [style.borderColor]="icon.color" *ngFor="let icon of iconImages">
      <img src="{{icon.icon}}">
    </div>
  </div>
  <div class="center-container" #centerContainer_2>
    <p>Rotate Puck to Select a Layer</p>
  </div>
  <div class="display-text">
    {{ currentIcon.text }}
  </div>
</div>