img {
    width: 70%;
    height: 70%;
    position: absolute;
    margin-left: 15%;
    margin-top: 15%; 
    z-index: 1;
}

p {
    position: absolute;
    top: 90%;
    font-size: 11px;
    width: 100%;
    text-align: center;
}