:host {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid white;
    border-radius: 50%;
    vertical-align: middle;
}

.content-wrapper {
    width: 100%;
    height: 20%;
    top: 40%;
    position: relative;
}
.border-line {
    width: 90%;
    position: relative;
    left: 5%;
    height: 3px;
    background-color: white;
}

p {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 5px 0 5px 0;
}
