<div class="slide-icon-container" #slideIconContainer>
  <div class="slide-icon" *ngFor="let icon of iconImages">
    <img src="{{icon.icon}}">
  </div>
</div>
<div class="layer-puck-container" #layerPuckContainer>
  <div class="icon-container" #iconContainer>
    <div class="circle-icon" *ngFor="let icon of iconImages">
      <img src="{{icon.icon}}">
    </div>
  </div>
  <div class="center-container" #centerContainer>
    <p>Slide {{ addRemove }}</p>
    <div class="center-icon" #centerIcon>
      <img src="{{arrowImage}}">
    </div>
  </div>
  <div class="display-text">
    {{ currentIcon.text }}
  </div>
</div>