<div class="layer-puck-container" #layerPuckContainer>
  <div class="icon-container" #iconContainer>
    <div class="circle-icon" *ngFor="let icon of iconImages">
      <img src="{{icon.icon}}">
    </div>
  </div>
  <div class="center-container" #centerContainer>
    <!--<img src="../../assets/images/layer-puck-icons/triangle.png" class="pointer">-->
    <div class="center-icon" #centerIcon>
      <img src="../../../assets/images/tracking-icons/layers.png">
    </div>
  </div>
  <div class="display-text">
    
  </div>
</div>