<div legend-card-wrapper>
  <div *ngFor="let layer of layers" class="legend-card" id="layer-card-{{layer.name}}" [style.opacity]="layer.active ? 1 : 0.3">
    <div class="legend-card-left">
      <img src="./assets/images/icons/{{ layer.name }}-icon.png"/>
    </div>
    <div class="legend-card-right"
    [style.width]="layer.active ? '50%' : 0"
    [style.background-color]="getBackgroundColor(layer)"
    [style.border]="layer.active ? '1px solid white' : '1px solid black'"
     id="legend-card-right-{{layer.name}}"
     appLegend><p></p>
    </div>
    <div class="legend-card-text">{{ layer.displayName }}</div>
  </div>
</div>
