<div class="second-screen-container">
  <div *ngIf="plan; else elseBlock">



    <div class="left-card">
      <h2>{{ layerName }}</h2>
      <img src="{{layerImage}}" />
      <p>{{ layerText }}</p>
    </div>

    <div class="right-card">
        <h2>{{ layerName }}</h2>
        <img src="{{layerImage}}" />
        <p>{{ layerText }}</p>
      </div>

    <div class="map-container">
      <div #mapDiv class="mapDiv"></div>
    </div>

    <app-pie-chart></app-pie-chart>

    <h1>2020</h1>
  </div>



  <!-- loader called until plan is set-->
  <ng-template #elseBlock>
    <div class="loading">
      <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2>Getting The Second Screen Ready</h2>
    </div>
  </ng-template>
</div>
